@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.navbar-brand img {
    max-width: 70px;
}

.carousel-item img {
    max-height: 100vh;
}

.what-we-do {
    /* width:52%; */
    font-weight: lighter;
    border-bottom: 1px solid orange;
    text-align: center;
    margin: auto;
    width: 52%;

}

.border-length {
    width: 38.5%;
    font-weight: lighter;
    border-bottom: 1px solid orange;
    text-align: center;
    margin: auto;
    text-align: center;
    padding-bottom: 12px;
}

.changes {
    background-color: #7FBD00;
    color: white;
    font-weight: bold;
    padding: 0 .2em;
}

.icon img {
    max-width: 80px;
    padding-top: 0.8em;
}

.movement {
    min-height: 30vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.movement:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.green,
.p {
    padding: .4em 3em;
}

.map .responsive-iframe {
    min-width: 100%;
    min-height: 100vh;
    display: block;
    overflow: scroll;
    padding: 0;
    margin: 0;
}

/* 3rd party code elimination */

.goog-te-banner {
    display: none;

}

.goog-te-gadget .goog-te-combo {
    margin: 0px 0;
    margin-left: .5em !important;
    padding: 1em !important;
    width: 10em;
    margin-top: 1em !important;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

.main_footer .brand_area {
    background: url(https://climate.nasa.gov/assets/logo_nasa_trio_white@2x.png) no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 300;
    display: inline-block;
    display: none;
}



/* 3rd party code ended */


/*  form section  
​
input css
​
*/
.form-input-custom {
    border: none;
    border-bottom: 2px solid #F5A52A;
    font-size: 18px;
    border-radius: 0px;


}

/*form button*/
.form-buttom-custom {
    padding: 10px;
    background-color: #F5A52A;
    text-transform: uppercase;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    width: 120px;
}

​ ​

/*  form section  

input css

*/
.form-input-custom {
    border: none;
    border-bottom: 2px solid #F5A52A;
    font-size: 18px;
    border-radius: 0px;


}

/*form button*/
.form-buttom-custom {
    padding: 10px;
    background-color: #F5A52A;
    text-transform: uppercase;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    width: 120px;
}


/*  right section div   */

.volunteer-custom {

    background-image: radial-gradient(#7FBD00, #000);
    max-height: 50vh;
}

.volunteer-custom img {
    max-width: 15em;
    padding: 0em 1em;
    text-align: center;
}

.head {

    color: white;
    padding: 0 1em;
    font-weight: bolder;
    line-height: 1.5em;
}

.button-volunteer {
    padding: 10px;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    border-radius: 40px;
    font-weight: 800;
    width: 150px;
    transition: all .3s ease-in;
}

.form-check-label {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;

}

.button-volunteer:hover {
    background-color: white;
    color: black;
    transform: scaleX(1.1);
}

/* Small Screen Coding */
@media screen and (max-width:768px) {}

@media screen and (max-width:568px) {
    .carousel-item img {
        max-height: 40vh;
    }

    .what-we-do,
    .border-length {
        /* width:52%; */
        font-weight: lighter;
        border-bottom: 1px solid orange;
        text-align: center;
        margin: auto;
        width: 100%;
        font-size: 2em;

    }

}